.popup__container {
    width: 430px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 34px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .popup__container {
        width: 282px;
        padding: 22px;
        
    }

}

